body {
  max-width: 320px;
  margin: auto;
  background: #cc0000;
  color:#cc0000
}

img {
  display: block;
  max-width: 100%;
}

header, div {
  background: #ff92ab;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', cursive;
}

h4{
  font-style: italic;
  font-size: smaller;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #cc0000;
}

div {
 padding: 20px; 
}

main, header {
  margin: 20px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

nav {
  text-align: center;
}

header {
  padding: 40px;
}