body {
  max-width: 320px;
  margin: auto;
  background: #f40039;
  color:#cc0000;
  font-size:15px;
}

img {
  display: block;
  max-width: 100%;
}

header, div,footer {
  background: #ff92ab;
}

h1, h2, nav {
  font-family: 'Bebas Neue', cursive;
}

a {
  text-decoration: none;
  color: #cc0000;
  display:flex;
  justify-content: center;
  font-size: 18px;
}

div {
 padding: 30px 10px; 
}

main, header,footer {
  margin: 0 18px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 25px;
}

.legende {
  font-style: italic;
  font-size: 11px;
  font-weight: 100;
  padding-bottom: 20px;
}

header {
  padding: 40px;
  border-left: solid 12px #cc0000;
  border-right: solid 12px #cc0000;
}

iframe {
  margin: auto;
  width: 200px;
  display: block;
}

.grandbudapesthotel {
  border-left: solid 12px #cc0000;
  border-right: solid 12px #cc0000;
}

.imagesdufilm {
  border-left: solid 12px #cc0000;
  border-right: solid 12px #cc0000;
}

.bandeson {
  background-color:#cc0000;
  color:#ff92ab;
  border-left: solid 12px #ff92ab;
  border-right: solid 12px #ff92ab;
}

.biographie {
  background-color:#cc0000;
  color:#ff92ab;
  border-left: solid 12px #ff92ab;
  border-right: solid 12px #ff92ab;
}

.bandeannonce {
  background-color:#cc0000;
  color:#ff92ab;
  border-left: solid 12px #ff92ab;
  border-right: solid 12px #ff92ab;
}

.footer {
  border-left: solid 12px #cc0000;
  border-right: solid 12px #cc0000;
  text-align: center;
  font-weight: 500;
  padding: 20px;
}

.soldats {
  margin-bottom: 10px;
}

.mendels {
  margin-top: 10px;
}