body {
  max-width: 320px;
  margin: auto;
  background: #cc0000;
}

img {
  display: block;
  max-width: 100%;
}

header, div {
  background: #ff92ab;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', cursive;
}